.file_display {
    display: none;
}

.file_upload {
    display: none;
}

.successful_upload {
    display: none;
}

.multiFile {
    display: none;
}

.toast-header {
    background-color: #5cb85c;
}

.form-control:focus,
.form-contol:active {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    border: solid 1px #5cb85c;

}

.btn-sq {
    width: 38px !important;
    height: 38px !important;
    padding:2px;
    font-size: 10px;
    border-radius: 0 !important;
}

.copy_icon {
    width: 34px;
    height: 34px;

}

.fileSelectorGroup {
    width: 1000px;
}

.fileGif {
    width: 150px;
    height: 150px;
}

#debugListGroup {
    max-height: 200px;
    overflow:auto !important;;
}

#debugButton {
    display: none;
}

.exportMenu {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    display: none;
}


/*PCs and Laptops*/


@media (min-width: 1200px) {
    #fileSelectorContainer {
        position: relative;
        top: -60px;
    }

}


@media (min-width: 1400px) {

    .exportMenu {
        top: 42%;
        left: 50%;
    }

}

@media (min-width: 1200px) {

    .exportMenu {
        top: 55%;
        left: 50%;
    }

}





/*Mobile devices*/

@media (min-height: 1px) and (max-height: 200px) and (max-width: 1024px) {

    .exportMenu {
        top: 68%;
        left: 50%;
    }

}


@media (min-height: 200px) and (max-height: 248px) and (max-width: 1024px) {

    .exportMenu {
        top: 68%;
        left: 50%;
    }

}


@media (min-height: 249px) and (max-height: 291px) and (max-width: 1024px) {

    .exportMenu {
        top: 68%;
        left: 50%;
    }

}


@media (min-height: 250px) and (max-height: 291px) and (max-width: 1024px){

    .exportMenu {
        top: 88%;
        left: 50%;
    }

}



@media (min-height: 292px) and (max-height: 400px) and (max-width: 1024px) {

    .exportMenu {
        top: 62%;
        left: 50%;
    }

}


@media (min-height: 401px) and (max-height: 500px) and (max-width: 1024px){

    .exportMenu {
        top: 44%;
        left: 50%;
    }

}

@media (min-height: 501px) and (max-height: 735px) and (max-width: 1024px) {

    .exportMenu {
        top: 36%;
        left: 50%;
    }

}

@media (min-height: 736px) and (max-height: 990px) and (max-width: 1024px) {

    .exportMenu {
        top: 24%;
        left: 50%;
    }

}



@media (min-height: 901px) and (max-height: 1024px) and (max-width: 1024px) {

    .exportMenu {
        top: 24%;
        left: 50%;
    }

}

@media (min-height: 1025px) and (max-height: 1366px) and (max-width: 1024px){

    .exportMenu {
        top: 22%;
        left: 50%;
    }

}




#aboutButton{
    z-index: 99;
}

#outputTypesContainer {
    width: 400px;
}

.copyUrlsToClipboardSpan {
    margin-top: 0;
    position:relative;
    top: -9px;
}

#copyUrlsToClipboardButton {
    margin-top: 0;
}