.file_display {
    display: none;
}

.file_upload {
    display: none;
}

.successful_upload {
    display: none;
}

.multiFile {
    display: none;
}

.toast-header {
    background-color: #5cb85c;
}

.form-control:focus,
.form-contol:active {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    border: solid 1px #5cb85c;

}

.btn-sq {
    width: 38px !important;
    height: 38px !important;
    padding:2px;
    font-size: 10px;
    border-radius: 0 !important;
}

.copy_icon {
    width: 34px;
    height: 34px;

}

.fileSelectorGroup {
    width: 1000px;
}

.fileGif {
    width: 150px;
    height: 150px;
}

#debugListGroup {
    max-height: 200px;
    overflow:auto !important;;
}

#debugButton {
    display: none;
}

.exportMenu {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    display: none;
}

#aboutButton{
    z-index: 99;
}

#outputTypesContainer {
    width: 400px;
}

.copyUrlsToClipboardSpan {
    margin-top: 0;
    position:relative;
    top: -9px;
}

#copyUrlsToClipboardButton {
    margin-top: 0;
}

#exportType {
    width: 300px;
}

#fileSelectorContainer {
    position: absolute;
    align-content: center;
}


.exportMenu {
    position: relative;
    bottom: -150px;
    width: 100%;
    left: 50%;
}


@media (min-width:355px) {
    .exportMenu {
        position: relative;
        bottom: -125px;
        width: 100%;
        left: 50%;
    }
}



@media (min-width:444px) {
    .exportMenu {
        position: relative;
        bottom: -100px;
        width: 100%;
        left: 50%;
    }
}


@media (min-width:528px) {
    .exportMenu {
        position: relative;
        bottom: -70px;
        width: 100%;
        left: 50%;
    }


}

@media (min-width:540px) {

    .exportMenu {
        position: relative;
        bottom: -70px;
        width: 100%;
        left: 50%;
    }
}



@media (min-width:768px) {

    .exportMenu {
        position: relative;
        bottom: -55px;
        width: 100%;
        left: 50%;
    }
}


@media (min-width:1200px) {

.exportMenu {
    position: relative;
    bottom: -25px;
    width: 100%;
    left: 50%;
} }







/*@media (min-width:320px)  { !* smartphones, iPhone, portrait 480x320 phones *! }*/
/*@media (min-width:481px)  { !* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. *! }*/
/*@media (min-width:641px)  { !* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones *! }*/
/*@media (min-width:961px)  { !* tablet, landscape iPad, lo-res laptops ands desktops *! }*/
/*@media (min-width:1025px) {*/
/*    !* big landscape tablets, laptops, and desktops *!*/
/*    #fileUpload {*/
/*        position: relative;*/
/*        top: -70px;*/
/*    }*/

/*    .exportMenu {*/
/*        top: 50%;*/
/*        left: 50%;*/
/*    }*/
/*}*/


/*@media (min-width:1281px) {*/
/*    !* hi-res laptops and desktops *!*/
/*    #fileUpload {*/
/*        position: relative;*/
/*        top: -70px;*/
/*    }*/

/*    .exportMenu {*/
/*        top: 50%;*/
/*        left: 50%;*/
/*    }*/
/*}*/