.file_display {
    display: none;
}

.file_upload {
    display: none;
}

.successful_upload {
    display: none;
}

.multiFile {
    display: none;
}

.toast-header {
    background-color: #5cb85c;
}

.form-control:focus,
.form-contol:active {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    border: solid 1px #5cb85c;

}

.btn-sq {
    width: 38px !important;
    height: 38px !important;
    padding:2px;
    font-size: 10px;
    border-radius: 0 !important;
}

.copy_icon {
    width: 34px;
    height: 34px;

}

.fileSelectorGroup {
    width: 1000px;
}

.fileGif {
    width: 150px;
    height: 150px;
}

#debugListGroup {
    max-height: 200px;
    overflow:auto !important;;
}

#debugButton {
    display: none;
}

.select2-selection__choice {
    background-color: #3bb54a !important;
    color: white !important;
}

#copyUrlsToClipboardSpan {
    background-color: black;
    margin-top: 0px;

}

#logoContainer img {
    width: 100%;
    height: auto;
    max-width: 1243px;
    display:block;
    margin:auto;
}

.exportMenu {
    width: 100%;
    height: 100%;
    left: 50%;
    display: none;
}

#outerContainer {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#exportType {
    width: 320px;
}

.exportButtonInactive {
    background-color: antiquewhite;
}